spring:
  application:
    name: todo-backend

  data:
    mongodb:
      uri: ${MONGO_URI}

server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000
  refresh-expiration: 604800000

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS}


